In [1]:
import pandas as pd
import plotly.express as px

import plotly.graph_objects as go
import numpy as np

In [2]:
test = [["Fuck", 3], ["Fuck", 3], ["Fuck", 3], ["Fuck", 5], ["This", 2], ["This", 7], ["This", 2], ["This", 2]]
temp = pd.DataFrame(test, columns=["Text", "Number"])

In [3]:
change_values = temp[["Text", "Number"]].groupby("Text").max().to_dict()['Number']

In [4]:
change_values

{'Fuck': 5, 'This': 7}

In [5]:
temp['Opacity'] = temp.apply(
    lambda x: x['Number']/change_values[x['Text']], axis=1
)

In [6]:
temp

   Text  Number   Opacity
0  Fuck       3  0.600000
1  Fuck       3  0.600000
2  Fuck       3  0.600000
3  Fuck       5  1.000000
4  This       2  0.285714
5  This       7  1.000000
6  This       2  0.285714
7  This       2  0.285714

In [12]:
temp['Opacity'].to_list()

[0.6,
 0.6,
 0.6,
 1.0,
 0.2857142857142857,
 1.0,
 0.2857142857142857,
 0.2857142857142857]

In [15]:
x = np.linspace(0, 1, 25)
y = np.linspace(0, 1, 25)
c = px.colors.sample_colorscale('OrRd', list(temp["Opacity"])[0])

print(c)

['rgb(242, 109, 75)']

In [18]:
fig = px.colors.sequential.Blues
fig.show()

AttributeError: 'list' object has no attribute 'show'